/* ./assets/css/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  height: calc(-145px + 96vh);
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-left-fade-enter-active, .slide-right-fade-enter-active {
  transition: all .3s ease;
}

.slide-left-fade-enter
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(100px);
  opacity: 0;
}
.slide-right-fade-enter
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-100px);
  opacity: 0;
}